<div id="<%= dom_id document %>" class="box">
  <div class="content">
    <p>
      <strong>Description:</strong>
      <%= document.description %>
    </p>

    <p>
      <strong>Link:</strong>
      <%= document.link %>
    </p>

    <p>
      <strong>Key:</strong>
      <%= document.key %>
    </p>

    <p>
      <strong>Token:</strong>
      <%= document.token %>
    </p>
  </div>

  <div class="card-image">
    <figure class="image is-4by3">
      <img src="<%= document.link %>" alt="Document Image">
    </figure>
  </div>
</div>