<p class="has-text-success"><%= notice %></p>

<h1 class="title">Documents</h1>

<div class="table-container">
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <th>Description</th>
        <th>Link</th>
        <th>Key</th>
        <th>Token</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td><%= document.description %></td>
          <td><%= document.link %></td>
          <td><%= document.key %></td>
          <td><%= document.token %></td>
          <td><%= link_to "Show", document, class: "button is-small is-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New document", new_document_path, class: "button is-primary" %>
