<div class="notification is-success">
  <%= notice %>
</div>

<%= render @document %>

<div class="buttons">
  <%= link_to "Edit this document", edit_document_path(@document), class: "button is-info" %>
  <%= link_to "Back to documents", documents_path, class: "button is-primary" %>
  <%= button_to "Destroy this document", @document, method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger" %>
</div>



